<ion-view view-title="ავტორიზაცია" class="bar-positive">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="მომხმარებელი">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="პაროლი">
      </label>
      <button class="button button-block">შესვლა</button>
      <p style="padding:11px; opacity:0.31;" align="center">ან</p>
      <button class="button button-block">Facebook-ით ავტორიზაცია</button>
      <br/>
      <center>
        <a ui-sref="app.register" style="font-weight:bold;">არ გაქვთ ანგარიში?</a>
      </center>
    </div>
  </ion-content>
</ion-view>
