<ion-view view-title="{{category.name}}" class="bar-positive">
  <ion-content scroll="false" padding="1">

    <div class="item item-divider item-icon-right item-positive" style="white-space:normal;">
      {{question.body}}
      <i class="icon ion-ios-information-outline" ng-click="info()"></i>
    </div>
    <ion-list>
      <ion-radio ng-repeat="answer in question.answers track by $index" ng-model="$parent.$parent.choice"
                 ng-value="answer.index" id="{{'radio' + currentCategory + answer.index}}" ng-disabled="turn">
        {{answer.body}}
      </ion-radio>
    </ion-list>
    <button class="button button-block" ng-show="!turn" ng-click="check()" ng-disabled="!choice">
      პასუხი
    </button>
    <button class="button button-block" ng-show="turn" ng-click="next()">
      შემდეგი შეკითხვა
    </button>

    <div class="bar bar-footer bar-positive">
      <div class="row">
        <p class="col col-50 footer-text">დრო:
          <font style="color:#34495e">{{time | timerFilter}}</font>
        <p>
        <p align="right" class="col col-50 footer-text">შედეგი:
          <font style="color:#00FFCD">{{answers[0]}}</font>
          <font style="color:#FFF">/</font>
          <font style="color:#EF3C29">{{answers[1]}}</font>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
