<ion-view view-title="{{category.name}}" class="bar-positive">
  <ion-content scroll="false" padding="1">

    <div class="item item-divider item-icon-right item-positive" style="white-space:normal;">
      რომელ წელს ილაშქრა დავით აღმაშენებელმა?
      <i class="icon ion-ios-help-outline" ng-click="info()"></i>
    </div>
    <ion-list>
      <ion-radio ng-repeat="answer in question.answers track by $index" ng-model="$parent.$parent.choice"
                 ng-value="answer.index" class="{{'radio' + answer.index}}" ng-disabled="turn">
        {{answer.body}}
      </ion-radio>
    </ion-list>
    <button class="button button-block" ng-show="!turn" ng-click="check()">
      პასუხი
    </button>
    <button class="button button-block" ng-show="turn" ng-click="next()">
      შემდეგი შეკითხვა
    </button>

  </ion-content>
</ion-view>
