<ion-view view-title="რეგისტრაცია" class="bar-positive">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="სახელი">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="გვარი">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="ელ.ფოსტა">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="პაროლი">
      </label>
      <button class="button button-block">რეგისტრაცია</button>
      <p style="padding:11px; opacity:0.31;" align="center">ან</p>
      <button class="button button-block">Facebook-ით რეგისტრაცია</button>
      <br/>
      <center>
        <a ui-sref="app.login"  style="font-weight:bold;">გააქვთ ანგარიში? ავტორიზაცია</a>
      </center>
    </div>
  </ion-content>
</ion-view>
