/* Empty. Add your own CSS if you like */
a{
  text-decoration: none;
}

.item-radio .item-content{
  white-space:normal !important;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 3px;
}

.checked-radio-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    visibility: visible;
    padding: 14px;
    height: 100%;
    font-size: 24px;
}
